<div class="row justify-content-center">
  <% @test.each do |test| %>
      <div class="response col-3">
        <h2>"<%= test.answer %>"</h2>
        <h5>- <%= test.name %></h5>
      </div>
  <% end %>
</div>