<nav class="navbar navbar-expand-lg bg-dark">
  <div class="navbar-brand mx-auto">So, I hear you guys like quizzes?</div>
</nav>

<div class="row justify-content-center">
  <% @test.each do |test| %>
      <div class="response col-3">
        <h2>"<%= test.answer %>"</h2>
        <h5>- <%= test.name %></h5>
      </div>
  <% end %>
</div>